@media (max-width: 580px) {
    .container {
        padding: 30px 20px;
    }

    .new__post_title {
        margin-bottom: 35px;
    }

    .project__blog {
        display: block;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .add__new_post, .visible__posts {
        width: 100%;
    }

    .limit__characters_post {
        margin-bottom: 35px;
    }

    .posts {
        padding-top: 5px;
        margin-top: 25px;
    }

    .title__newsline {
        position: sticky;
    }
}