* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Slab', serif;
    background-color: #f4f5ca;
}

.container {
    margin: 0 auto;
    max-width: 750px;
    padding: 100px 30px;
}

.project__blog {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 30px;
    justify-content: space-around;

}

h2 {
    margin-bottom: 60px;
    font-size: 40px;
    font-weight: 600;
    color: rgb(2, 79, 79);
}

.add__new_post {
    width: 45%;
}

.title__input {
    padding: 3px;
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.newsline {
    box-sizing: border-box;
}
.title__newsline {
    position: sticky;
    background-color: #fff;
    padding: 0px 5px;
    border-radius: 5px;
}

.post__input {
    padding: 3px;
    display: block;
    margin-bottom: 15px;
    resize: none;
    width: 100%;
}

.publish__btn {
    width: 100%;
    height: 25px;
}

.visible__posts {
    border: 1px solid brown;
    border-radius: 5px;
    width: 45%;
    height: 470px;
    overflow: scroll;
    padding: 10px;
}

.limit__characters {
    margin-bottom: 20px;
    color: rgb(238, 117, 117);
}

.limit__characters_post {
    margin-top: 10px;
    color: rgb(71, 111, 71);
}

.date__post {
    color: rgb(93, 93, 238);
}

.posts {
    padding-top: 100px;
}
.post__input {
    font-style: italic;
    border-bottom: 2px solid black;
}

.title__input {
    font-size: large;
}
@media (max-width: 576px) {
    .container {
        padding: 30px 20px;
    }
    .project__blog {
        display: block;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .add__new_post, .visible__posts {
        width: 100%;
    }

    .limit__characters_post {
        margin-bottom: 25px;
    }

    .posts {
        padding-top: 0px;
    }
}